body {
  background-color: #f5f5f5;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.todo-card {
  width: 100%;
  max-width: 450px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
